.theme-toggle {
  position: relative;
  display: inline-block;

  .theme-toggle-checkbox {
    display: none;

    &:checked + .theme-toggle-label {
      background-color: #424242;

      &:before {
        transform: translateX(1.5rem);
        background-color: #ff4081;
      }
    }
  }

  .theme-toggle-label {
    display: flex;
    align-items: center;
    width: 3.5rem;
    height: 2rem;
    background-color: #95a5a6;
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;

    &:before {
      content: '';
      position: absolute;
      left: 4px;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: white;
      transition:
        transform 0.3s,
        background-color 0.3s;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
  }
}
