<ng-mlpm
  #menu
  title="Custom Theme Menu"
  titleIcon="fa fa-bars"
  [menuItems]="menuItems"
  [colorTheme]="customTheme"
  (linkClick)="handleMenuLinkClick($event)"
  *ngIf="theme$ | async as theme"
>
  <div class="menu-content">
    <div class="button-container">
      <button class="menu-toggle-button" (click)="toggleMenu()">
        <i class="fa fa-bars"></i> Toggle Menu
      </button>

      <!-- Fancy Theme Toggle Switch -->
      <div class="theme-toggle">
        <input
          type="checkbox"
          id="themeToggle"
          class="theme-toggle-checkbox"
          [checked]="theme === 'light'"
          (change)="toggleTheme()"
        />
        <label for="themeToggle" class="theme-toggle">
          <i
            class="toggle-icon"
            [class.fa]="true"
            [class.fa-moon-o]="theme === 'dark'"
            [class.fa-sun-o]="theme === 'light'"
          ></i>
        </label>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</ng-mlpm>
