<ng-container *ngIf="theme$ | async as theme">
  <div
    class="not-found-container"
    [ngClass]="theme === 'dark' ? 'dark-theme' : 'light-theme'"
  >
    <div class="not-found-content">
      <div class="error-text">
        <div class="error-code">404</div>
        <h1 class="error-title">Houston, We Have a Problem!</h1>
        <p class="error-message">
          The page you're looking for has floated off into space or never
          existed in the first place.
        </p>
        <div class="buttons-container">
          <button class="return-button primary-btn" (click)="goToHome()">
            Return to Home
          </button>
          <button class="return-button secondary-btn" (click)="goToHome()">
            Go Back
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
